body
{
	  background: linear-gradient(to right, #373b44, #4286f4);
}
.main
{
	height: 100%;
	width: 100 %;
	
	margin-top: 70px;
	position: absolute;
}
.main .upperhalf
{
	margin-top: 50px;
	width: 100%;
	height: 450px;
	overflow: auto;

}
.main .lowerhalf
{
	width: 30%;
	height: 300px;
	display: inline;
	
}
table th
{
	position: static;
}